html, body, div, span, applet, object, iframe, h1, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    overflow: auto;
    position: relative;
    padding: 20px;
}

.blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
}

.container {
    display: flex;
    height: 100%;
    overflow: auto;

}

.container.cities-params {
    flex-direction: column;
}

.params {
    width: 20%;
    border: solid 1px black;
    margin: 10px;
    border-radius: 3px;
    min-height: 600px;
}

.first-calc {
    width: 40%;
    min-width: 640px;
    border: solid 1px black;
    margin: 10px;
    border-radius: 3px;
    min-height: 600px;
}

.second-calc {
    width:40%;
    min-width: 640px;
    border: solid 1px black;
    margin: 10px;
    border-radius: 3px;
    min-height: 600px;
}

.forth-calc {
    width:40%;
    min-width: 640px;
    border: solid 1px black;
    margin: 10px;
    border-radius: 3px;
    min-height: 600px;
}

.third-calc {
    width:40%;
    min-width: 640px;
    border: solid 1px black;
    margin: 10px;
    border-radius: 3px;
    min-height: 600px;
}

.field {
    margin: 10px;
}

.text-value {
    width: 40px;
}

.params-2-table {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows:  70px 70px 70px 70px 70px 70px;
}

.params-1-table {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows:  70px 70px 70px 70px 70px 70px;
}

.params-dynamic-table {
    display: grid;
}

.results {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.container.maps {
    flex-direction: column;
}

.map-result {
    height: 200px;
    width: 100%;
}
.text-value
{

    width: 70px;
}

.js-to-begin{
    height: 50px;
    width: 125px;
    background-color: palegreen;
    font-family: "Monotype Corsiva";
    font-size: large;
}
.js-prev{
    height: 50px;
    width: 125px;
    background-color: palegreen;
    font-family: "Monotype Corsiva";
    font-size: large;
}
.js-next{
    height: 50px;
    width: 125px;
    background-color: palegreen;
    font-family: "Monotype Corsiva";
    font-size: large;
}
.js-refer{
    height: 50px;
    width: 125px;
    background-color: palegreen;
    font-family: "Monotype Corsiva";
    font-size: large;
}
.js-author{
    height: 50px;
    width: 125px;
    background-color: palegreen;
    font-family: "Monotype Corsiva";
    font-size: large;
}

.grid-system {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.button-set {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    width: 700px;
    align-self: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}